body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 700px;
  min-height: 200px;
  padding: 50px;
  margin: 300px auto;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px grey;
  background-color: #555dc5;
}

header {
  height: 100px;
}

header h1 {
  color: white;
  float: left;
}

header button {
  float: right;
}

h3 {
  font-size: 26px;
}

h3 svg {
  float: right;
}

.noTasks {
  color: #eccd1a;
  text-align: center;
}

.reminder {
  border-left: 10px solid #eccd1a;
}

form label {
  color: white;
  font-size: 24px;
}

.form-check label {
  font-size: 16px;
}

.saveTask {
  float: right;
}

hr {
  margin: 60px auto;
  background-color: white;
}